<h1> <%= @list.name %>  </h1>
<br>

<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"> <%= bookmark.movie.title %> </li>
    <li class="list-group-item"> <%= bookmark.movie.rating %> </li>
    <li class="list-group-item"> <%= bookmark.movie.overview %> </li>
    <li class="list-group-item"> "<em><%= bookmark.comment %></em>" </li>
    <li class="list-group-item"> <%= image_tag bookmark.movie.poster_url,
      alt: bookmark.movie.title, class: 'movie-img rounded-top' %> </li>
    <li class="list-group-item">
      <%= link_to bookmark_path(bookmark), method: :delete,
        data: { confirm: "Are you sure you want to remove #{bookmark.movie.title} from your #{bookmark.list.name} list"},
        class: 'text-danger' do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<br>
<%= link_to new_list_bookmark_path(@list), class: 'btn btn-primary' do %>
  <i class="fas fa-plus"></i> Add movie
<% end %>
<br>
<%= link_to lists_path, class: 'btn btn-primary' do %>
  <i class="fas fa-undo"></i> Return
<% end %>
<br>
<%= link_to list_path(@list), method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure you want to delete this list?' } do %>
  <i class="fas fa-trash-alt"></i> Remove list
<% end %>
